<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1> teacher @ Pham Hong Thai secondary school</h1>
            <span><address>Ba Ria Vung Tau, Viet Nam </address><time> 2008 to 2016 </time></span>
        </header>
        <p> homeroom teacher of grade 6, 7 & 8 </p>
    </article>
    <article>
        <header>
            <h1> vice director @ Asian Electronic Bill company</h1>
            <span><address>Ho Chi Minh, VN</address><time>2018 to present</time></span>
        </header>
        <p> Related to RAN tasks such as BSC, RNC, eNodeB, gNodeB </p>
    </article>
  
